{% extends "./plantilla.html" %}

{% block cursos %}
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop1"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    1°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop2"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    2°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop3"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    3°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop4"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    4°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop5"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    5°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop5">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop6"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    6°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop6">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop7"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    7°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop7">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop8"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    8°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop8">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Ciencias Naturales </a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop9"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    I°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop9">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    <li><a class="dropdown-item" href="#">Física </a></li>
    <li><a class="dropdown-item" href="#">Química </a></li>
    <li><a class="dropdown-item" href="#">Biología </a></li>
    <li><a class="dropdown-item" href="#">Otros </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop10"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    II°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop10">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    <li><a class="dropdown-item" href="#">Física </a></li>
    <li><a class="dropdown-item" href="#">Química </a></li>
    <li><a class="dropdown-item" href="#">Biología </a></li>
    <li><a class="dropdown-item" href="#">Otros </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop11"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    III°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop11">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Matemáticas avanzadas</a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    <li><a class="dropdown-item" href="#">Física </a></li>
    <li><a class="dropdown-item" href="#">Química </a></li>
    <li><a class="dropdown-item" href="#">Biología </a></li>
    <li><a class="dropdown-item" href="#">Física avanzada </a></li>
    <li><a class="dropdown-item" href="#">Química avanzada</a></li>
    <li><a class="dropdown-item" href="#">Biología avanzada</a></li>
    <li><a class="dropdown-item" href="#">Otros </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop12"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    IV°
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop12">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Matemáticas avanzadas</a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Ingles </a></li>
    <li><a class="dropdown-item" href="#">Física </a></li>
    <li><a class="dropdown-item" href="#">Química </a></li>
    <li><a class="dropdown-item" href="#">Biología </a></li>
    <li><a class="dropdown-item" href="#">Física avanzada </a></li>
    <li><a class="dropdown-item" href="#">Química avanzada</a></li>
    <li><a class="dropdown-item" href="#">Biología avanzada</a></li>
    <li><a class="dropdown-item" href="#">Otros </a></li>
    </ul>
    
</div>
<div class="btn-group" role="group">
    <button
    id="btnGroupVerticalDrop13"
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
    >
    PDT
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop13">
    <li><a class="dropdown-item" href="#">Lenguaje y comunicación </a></li>
    <li><a class="dropdown-item" href="#">Matemáticas</a></li>
    <li><a class="dropdown-item" href="#">Matemáticas avanzadas</a></li>
    <li><a class="dropdown-item" href="#">Historia, Geografía y Ciencias Sociales </a></li>
    <li><a class="dropdown-item" href="#">Física </a></li>
    <li><a class="dropdown-item" href="#">Química </a></li>
    <li><a class="dropdown-item" href="#">Biología </a></li>
    <li><a class="dropdown-item" href="#">Física avanzada </a></li>
    <li><a class="dropdown-item" href="#">Química avanzada</a></li>
    <li><a class="dropdown-item" href="#">Biología avanzada</a></li>
    <li><a class="dropdown-item" href="#">Otros </a></li>
    </ul>
    
</div>
{% endblock %}
